<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Github</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Program Design & Algorithms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Core Java</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Object-oriented Java</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">HTML/CSS/Bootstrap</a>
        </li>
    </ul>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="card">
        <form><div class="form-group">

            <div class="container">

                <div class="row">

                    <div class="col">
          <img width="250px" alt="Eyael"src="https://res.cloudinary.com/dtvwgqowk/image/upload/v1550852605/20190222_102707.jpg">
          <h1>Eyae A Mekonnen</h1>
          <p class="title">CEO & Founder, Java web developer</p>
          <p>Harvard University</p>
        <div style ="margin: 24px 0;>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <p><button>Contact</button></p>
    </div>
    </div>
    <div class="col">
          <img width="250px" alt="Eyael"src="">
         <h1>Eyae A Mekonnen</h1>
          <p class="title">CEO & Founder, Java web developer</p>
          <p>Harvard University</p>
        <div style ="margin: 24px 0;>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <p><button>Contact</button></p>


</div>
</div>
</head>
<body>

</body>
</html>