<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1>About the bootcamp</h1>
   <p> Spring Boot is a collection of (mostly) previously existing technologies (programs)</p>
    <ul>
    <li>The Core Java code - Everything you developed with the console is core Java</li>
        <li>Java Libraries (aka JAR file) JAR = Java Archive ... it's just previously developed java classes/methods</li>
    </ul>
</head>
<body>

</body>
</html>