<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tech Blog</title>
</head>
<body>


<div class="jumbotron jumbotron-fluid">

    <h3 class="title" align="left">TECH-BLOG</h3>
</div>

<div class = "container">
    <div class = "box">
        <nav class="navbar navbar-dark bg-dark">
            <span class="text">HOME</span>

            <span class="text">ABOUT THE BOOTCAMP </span>
            <span class="text">BLOG AUTHORS</span>
            <span class="text">GITHUB</span>
            <span class="text">PROGRAM DESIGN AND ALGORITHMS</span>
            <span class="text">CORE JAVA</span>
            <span class="text">OBJECT-ORIENTED JAVA</span>
            <span class="text">HTML/CSS/BOOTSTRAP</span>



        </nav><br><br>


        <img src="https://res.cloudinary.com/dh18h6lff/image/upload/v1550855083/1662_original.jpg" class="mx-auto d-block" style="width:100%">


    </div>


</div>
<div class="jumbotron" align="bottom">


    <span class="textbottom" align="center">FOLLOW TECH-BLOG :</span><br><br>

<ol class="socialmedia">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
</ol>
</div>
</body>
</html>