<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Gurajada|Just+Another+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Core Java</title>
</head>
<body>


<div class="jumbotron jumbotron-fluid">

    <h3 class="title" align="left">TECH-BLOG</h3>
</div>

<div class="container">
    <div class="box">
        <nav class="navbar navbar-dark bg-dark">
            <a class="text nav-link" href="indexhome">HOME</a>
            <a class="text nav-link" href="about">ABOUT THE BOOTCAMP</a>
            <a class="text nav-link" href="author">BLOG AUTHORS</a>
        </nav>
    </div>

</div>
<h2 class="heading" align="center">CORE JAVA</h2><br><br>

<img src="https://res.cloudinary.com/dh18h6lff/image/upload/v1550864111/Difference-Between-Java-and-Core-Java.png"
     class="mx-auto d-block" style="width:50%">

<div class="container">

    <div class="card bg-light text-dark">
        <h3 class="card-body" align="center">Features of Java</h3>
        <div class="card-body" align="center">22 February 2019</div>
        <p align="center">The prime reason behind creation of Java was to bring portability and security feature into a
            computer language. Beside these two major features, there were many other features that played an important
            role in moulding out the final form of this outstanding language. Those features are :<a href="javafeature">View
                More</a></p>

    </div><br>

        <div class="card bg-light text-dark">
            <h3 class="card-body" align="center">Data Types in Java</h3>
            <div class="card-body" align="center">22 February 2019</div>
            <p align="center">Java language has a rich implementation of data types. Data types specify size and the
                type of values that can be stored in an identifier.<a href="javadata">View More</a></p>
        </div>


    </div>
<div class="jumbotron" align="bottom">


    <span class="textbottom" align="center">FOLLOW TECH-BLOG :</span><br><br>

    <ol class="socialmedia">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
    </ol>
</div>
</body>
</html>