<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="container">
    <h2> Examples Of Algorithms In Programming</h2>

    <h4>Write an algorithm to add two numbers entered by user.</h4>

    <br>Step 1: Start
    <br> Step 2: Declare variables num1, num2 and sum.
    <br>Step 3: Read values num1 and num2.
    <br>Step 4: Add num1 and num2 and assign the result to sum.
    <br>sum←num1+num2
    <br>Step 5: Display sum
    <br> Step 6: Stop
  <h5> Write an algorithm to find the largest among three different numbers entered by user.</h5>
    <br> Step 1: Star
    <br>Step 2: Declare variables a,b and c.
    <br>Step 3: Read variables a,b and c.
    <br>Step 4: If a>b,
        <div class="container">
    If a>c<
    <br> Display a is the largest number.
    <br> Else
    <br>Display c is the largest number.
    <br> Else
    <br> If b>c
    <br>Display b is the largest number.
    <br> Else
    <br> Display c is the greatest number.
        </div>
    <br>Step 5: Stop
    <h5>Write an algorithm to find all roots of a quadratic equation ax2+bx+c=0.</h5>
    <br>Step 1: Start
    <br>Step 2: Declare variables a, b, c, D, x1, x2, rp and ip;
    <br>Step 3: Calculate discriminant
    <br>  D←b2-4ac
    <br> Step 4: If D≥0
    <br> r1←(-b+√D)/2a
    <br>r2←(-b-√D)/2a
    <h5>Display r1 and r2 as roots.</h5>
    <br> Else
    <h5>Calculate real part and imaginary part</h5>
    <br> rp←b/2a
    <br>  ip←√(-D)/2a
    <<h5>Display rp+j(ip) and rp-j(ip) as roots</h5>
    <br>Step 5: Stop</br>
    </div>
</head>
<body>

</body>
</html>